# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Model files
*.h5
*.keras
model/

# Uploads / Logs
*.log
static/uploads/
feedback_data/

---
